h1 {
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 1em;
	margin-bottom: 2em;
}

.robot {
	display: flex;
	flex-flow: column wrap;
}

.head,
.torso,
.left_arm,
.right_arm,
.left_leg,
.right_leg {
	background-color: rgba(95,147,232,1);
}

.head {
	width: 200px;
	margin: 0 auto;
	height: 150px;
	border-radius: 200px 200px 0 0;
	margin-bottom: 10px;
}

.eyes {
	display: flex;
	transition: .7s;
}

.left_eye, .right_eye {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	margin: 6em auto;
	background-color: rgba(255,255,255,1);
}

.head:hover .eyes {
	transition: .7s;
	margin-right: 60px;
}

.upper_body {
	width: 300px;
	height: 150px;
	display: flex;
	align-self: center;
}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0 0 50px 50px;
	z-index: 1;
}

.left_arm {
	margin-right: 10px;
}

.right_arm {
	margin-left: 10px;
}

.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
	transition: .1s;
}

.upper_body:hover .left_arm {
  	transform: rotate(20deg);
	transition: .1s;
}

.upper_body:hover .right_arm {
  	transform: rotate(-20deg);
	transition: .1s;
}

.lower_body {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.left_leg {
	margin-right: 15px;
}

.right_leg {
	margin-left: 15px;
}

.left_leg, .right_leg {
	width: 40px;
	height: 130px;
	border-radius: 0 0 100px 100px;
	transition: .2s;
}

.lower_body:hover .left_leg {
	transform: rotate(20deg);
	margin-right: 30px;
	transition: .2s;
}

.lower_body:hover .right_leg {
  	transform: rotate(-20deg);
	margin-left: 30px;
	transition: .2s;
}
